<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <!-- IIS handler for ASP.NET Core -->
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      
      <!-- ASP.NET Core Module Configuration -->
      <aspNetCore processPath="dotnet" 
                  arguments=".\ProductInventoryAPI.Web.dll" 
                  stdoutLogEnabled="true" 
                  stdoutLogFile=".\logs\stdout"
                  hostingModel="inprocess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
          <environmentVariable name="ASPNETCORE_URLS" value="http://localhost:5000" />
        </environmentVariables>
      </aspNetCore>
      
      <!-- Security Headers -->
      <httpProtocol>
        <customHeaders>
          <add name="X-Content-Type-Options" value="nosniff" />
          <add name="X-Frame-Options" value="SAMEORIGIN" />
          <add name="X-XSS-Protection" value="1; mode=block" />
          <add name="Referrer-Policy" value="strict-origin-when-cross-origin" />
          <add name="Content-Security-Policy" value="default-src 'self'; script-src 'self' 'unsafe-inline'; style-src 'self' 'unsafe-inline';" />
        </customHeaders>
      </httpProtocol>
      
      <!-- URL Rewrite Rules -->
      <rewrite>
        <rules>
          <!-- Redirect HTTP to HTTPS -->
          <rule name="Redirect to HTTPS" stopProcessing="true">
            <match url=".*" />
            <conditions>
              <add input="{HTTPS}" pattern="off" ignoreCase="true" />
              <add input="{HTTP_HOST}" pattern="localhost" negate="true" />
            </conditions>
            <action type="Redirect" url="https://{HTTP_HOST}/{R:0}" redirectType="Permanent" />
          </rule>
          
          <!-- API Versioning -->
          <rule name="API Versioning" stopProcessing="false">
            <match url="^api/(.*)$" />
            <conditions>
              <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            </conditions>
            <action type="None" />
          </rule>
        </rules>
      </rewrite>
      
      <!-- Compression -->
      <urlCompression doStaticCompression="true" doDynamicCompression="true" />
      <httpCompression>
        <dynamicTypes>
          <add mimeType="application/json" enabled="true" />
          <add mimeType="application/xml" enabled="true" />
          <add mimeType="text/json" enabled="true" />
        </dynamicTypes>
        <staticTypes>
          <add mimeType="application/javascript" enabled="true" />
          <add mimeType="text/css" enabled="true" />
          <add mimeType="text/html" enabled="true" />
        </staticTypes>
      </httpCompression>
      
      <!-- Request Filtering -->
      <security>
        <requestFiltering>
          <requestLimits maxAllowedContentLength="52428800" /> <!-- 50MB -->
          <verbs allowUnlisted="false">
            <add verb="GET" allowed="true" />
            <add verb="POST" allowed="true" />
            <add verb="PUT" allowed="true" />
            <add verb="DELETE" allowed="true" />
            <add verb="HEAD" allowed="true" />
            <add verb="OPTIONS" allowed="true" />
          </verbs>
          <hiddenSegments>
            <add segment="bin" />
            <add segment="obj" />
            <add segment="logs" />
          </hiddenSegments>
        </requestFiltering>
      </security>
      
      <!-- Error Pages -->
      <httpErrors errorMode="Custom" existingResponse="Replace">
        <remove statusCode="404" subStatusCode="-1" />
        <remove statusCode="500" subStatusCode="-1" />
        <error statusCode="404" path="/error/404" responseMode="ExecuteURL" />
        <error statusCode="500" path="/error/500" responseMode="ExecuteURL" />
      </httpErrors>
      
      <!-- Static Content -->
      <staticContent>
        <remove fileExtension=".json" />
        <mimeMap fileExtension=".json" mimeType="application/json" />
        <remove fileExtension=".woff" />
        <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
        <remove fileExtension=".woff2" />
        <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
      </staticContent>
      
      <!-- Caching -->
      <caching enabled="true">
        <profiles>
          <add extension=".css" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" duration="1.00:00:00" />
          <add extension=".js" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" duration="1.00:00:00" />
          <add extension=".json" policy="DontCache" kernelCachePolicy="DontCache" />
        </profiles>
      </caching>
    </system.webServer>
  </location>
  
  <!-- Logging Configuration -->
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="textWriterTraceListener" 
             type="System.Diagnostics.TextWriterTraceListener" 
             initializeData="logs/trace.log" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>