openapi: 3.0.3
info:
  title: Product Inventory API
  description: |
    A comprehensive hybrid ORM API for product inventory management using ASP.NET Core, 
    Entity Framework Core, and SQL Server stored procedures.
    
    ## Features
    - **Hybrid ORM Architecture**: Combines Entity Framework Core with stored procedures
    - **JWT Authentication**: Secure token-based authentication
    - **Role-based Authorization**: Fine-grained access control
    - **Analytics & Reporting**: Advanced analytics using stored procedures
    - **Inventory Management**: Complete inventory tracking and movement recording
    - **Health Checks**: Built-in monitoring and health endpoints
    
    ## Architecture
    The API implements Clean Architecture principles with:
    - **Entity Framework Core**: Standard CRUD operations and relationships
    - **Stored Procedures**: Complex analytics and reporting
    - **Raw SQL**: Performance-critical operations
    - **Repository Pattern**: Abstracted data access layer
    
  version: 1.0.0
  contact:
    name: API Support
    email: api-support@productinventory.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.productinventory.com/api/v1
    description: Production server
  - url: https://staging-api.productinventory.com/api/v1
    description: Staging server
  - url: https://localhost:5001/api/v1
    description: Development server

security:
  - BearerAuth: []

paths:
  # Authentication Endpoints
  /auth/login:
    post:
      tags:
        - Authentication
      summary: User login
      description: Authenticate user and obtain JWT token
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
            example:
              email: "admin@test.com"
              password: "TestAdmin123!"
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/LoginResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /auth/refresh:
    post:
      tags:
        - Authentication
      summary: Refresh JWT token
      description: Refresh the current JWT token
      responses:
        '200':
          description: Token refreshed successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/TokenResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /auth/logout:
    post:
      tags:
        - Authentication
      summary: User logout
      description: Logout user and invalidate token
      responses:
        '200':
          description: Logout successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  # Category Endpoints
  /categories:
    get:
      tags:
        - Categories
      summary: Get all categories
      description: Retrieve all categories with optional filtering and pagination
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/SortBy'
        - $ref: '#/components/parameters/SortDirection'
        - name: includeInactive
          in: query
          description: Include inactive categories
          schema:
            type: boolean
            default: false
        - name: search
          in: query
          description: Search categories by name
          schema:
            type: string
      responses:
        '200':
          description: Categories retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Category'
                      pagination:
                        $ref: '#/components/schemas/PaginationInfo'

    post:
      tags:
        - Categories
      summary: Create a new category
      description: Create a new product category
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCategoryRequest'
      responses:
        '201':
          description: Category created successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Category'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /categories/{id}:
    get:
      tags:
        - Categories
      summary: Get category by ID
      description: Retrieve a specific category by its ID
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Category retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Category'
        '404':
          $ref: '#/components/responses/NotFound'

    put:
      tags:
        - Categories
      summary: Update category
      description: Update an existing category
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCategoryRequest'
      responses:
        '200':
          description: Category updated successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Category'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      tags:
        - Categories
      summary: Delete category
      description: Delete a category (soft delete)
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '204':
          description: Category deleted successfully
        '404':
          $ref: '#/components/responses/NotFound'

  # Product Endpoints
  /products:
    get:
      tags:
        - Products
      summary: Get all products
      description: Retrieve all products with optional filtering and pagination
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/SortBy'
        - $ref: '#/components/parameters/SortDirection'
        - name: categoryId
          in: query
          description: Filter by category ID
          schema:
            type: integer
            format: int32
        - name: minPrice
          in: query
          description: Minimum price filter
          schema:
            type: number
            format: decimal
        - name: maxPrice
          in: query
          description: Maximum price filter
          schema:
            type: number
            format: decimal
        - name: inStock
          in: query
          description: Filter by stock availability
          schema:
            type: boolean
        - name: search
          in: query
          description: Search products by name or SKU
          schema:
            type: string
      responses:
        '200':
          description: Products retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Product'
                      pagination:
                        $ref: '#/components/schemas/PaginationInfo'

    post:
      tags:
        - Products
      summary: Create a new product
      description: Create a new product with inventory information
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProductRequest'
      responses:
        '201':
          description: Product created successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Product'

  /products/{id}:
    get:
      tags:
        - Products
      summary: Get product by ID
      description: Retrieve a specific product by its ID with inventory details
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Product retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Product'

    put:
      tags:
        - Products
      summary: Update product
      description: Update an existing product
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProductRequest'
      responses:
        '200':
          description: Product updated successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Product'

    delete:
      tags:
        - Products
      summary: Delete product
      description: Delete a product (soft delete)
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '204':
          description: Product deleted successfully

  # Analytics Endpoints
  /analytics/categories/statistics:
    get:
      tags:
        - Analytics
      summary: Get category statistics
      description: Get comprehensive statistics for all categories using stored procedures
      responses:
        '200':
          description: Category statistics retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/CategoryStatistics'

  /analytics/categories/{id}/statistics:
    get:
      tags:
        - Analytics
      summary: Get category statistics by ID
      description: Get statistics for a specific category
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Category statistics retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/CategoryStatistics'

  /analytics/categories/low-stock:
    get:
      tags:
        - Analytics
      summary: Get categories with low stock products
      description: Get categories that have products with low stock levels
      responses:
        '200':
          description: Low stock categories retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/LowStockCategory'

  /analytics/categories/top-by-product-count:
    get:
      tags:
        - Analytics
      summary: Get top categories by product count
      description: Get top categories ranked by number of products
      parameters:
        - name: limit
          in: query
          description: Number of top categories to return
          schema:
            type: integer
            format: int32
            default: 10
            minimum: 1
            maximum: 100
      responses:
        '200':
          description: Top categories retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/TopCategory'

  /analytics/categories/bulk-update-status:
    put:
      tags:
        - Analytics
      summary: Bulk update category status
      description: Update the active status of multiple categories
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkUpdateCategoryStatusRequest'
      responses:
        '200':
          description: Categories updated successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/BulkUpdateResult'

  # Inventory Endpoints
  /inventory/summary:
    get:
      tags:
        - Inventory
      summary: Get inventory summary
      description: Get comprehensive inventory summary with analytics
      parameters:
        - name: categoryId
          in: query
          description: Filter by category ID
          schema:
            type: integer
            format: int32
        - name: includeInactive
          in: query
          description: Include inactive products
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: Inventory summary retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/InventorySummary'

  /inventory/alerts:
    get:
      tags:
        - Inventory
      summary: Get stock alerts
      description: Get products with stock level alerts
      parameters:
        - name: level
          in: query
          description: Alert level filter
          schema:
            type: string
            enum: [low, out, overstocked]
        - name: categoryId
          in: query
          description: Filter by category ID
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Stock alerts retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/StockAlert'

  # Inventory Movement Endpoints
  /inventorymovement/movements:
    post:
      tags:
        - Inventory Movements
      summary: Record inventory movement
      description: Record a new inventory movement (purchase, sale, adjustment, etc.)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateInventoryMovementRequest'
      responses:
        '201':
          description: Inventory movement recorded successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/InventoryMovement'

  # Health Check Endpoints
  /health:
    get:
      tags:
        - Health
      summary: Basic health check
      description: Check if the API is healthy
      security: []
      responses:
        '200':
          description: API is healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthCheckResponse'

  /health/detailed:
    get:
      tags:
        - Health
      summary: Detailed health check
      description: Detailed health check including database connectivity
      security: []
      responses:
        '200':
          description: Detailed health information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DetailedHealthCheckResponse'

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token obtained from the login endpoint

  parameters:
    Page:
      name: page
      in: query
      description: Page number for pagination
      schema:
        type: integer
        format: int32
        default: 1
        minimum: 1
    
    PageSize:
      name: pageSize
      in: query
      description: Number of items per page
      schema:
        type: integer
        format: int32
        default: 20
        minimum: 1
        maximum: 100
    
    SortBy:
      name: sortBy
      in: query
      description: Field to sort by
      schema:
        type: string
    
    SortDirection:
      name: sortDirection
      in: query
      description: Sort direction
      schema:
        type: string
        enum: [asc, desc]
        default: asc

  responses:
    BadRequest:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    
    Forbidden:
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    
    Conflict:
      description: Conflict
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    
    UnprocessableEntity:
      description: Validation error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ValidationErrorResponse'
    
    TooManyRequests:
      description: Rate limit exceeded
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    
    InternalServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

  schemas:
    # Base Response Schemas
    ApiResponse:
      type: object
      properties:
        success:
          type: boolean
          description: Indicates if the request was successful
        message:
          type: string
          description: Optional success/error message
        timestamp:
          type: string
          format: date-time
          description: Response timestamp
        correlationId:
          type: string
          format: uuid
          description: Request correlation ID for tracking
      required:
        - success
        - timestamp
        - correlationId

    ErrorResponse:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - type: object
          properties:
            errors:
              type: array
              items:
                $ref: '#/components/schemas/ApiError'

    ValidationErrorResponse:
      allOf:
        - $ref: '#/components/schemas/ErrorResponse'

    ApiError:
      type: object
      properties:
        field:
          type: string
          description: Field that caused the error
        code:
          type: string
          description: Error code
        message:
          type: string
          description: Human-readable error message
      required:
        - code
        - message

    PaginationInfo:
      type: object
      properties:
        currentPage:
          type: integer
          format: int32
        pageSize:
          type: integer
          format: int32
        totalPages:
          type: integer
          format: int32
        totalItems:
          type: integer
          format: int64
        hasNextPage:
          type: boolean
        hasPreviousPage:
          type: boolean
      required:
        - currentPage
        - pageSize
        - totalPages
        - totalItems
        - hasNextPage
        - hasPreviousPage

    # Authentication Schemas
    LoginRequest:
      type: object
      properties:
        email:
          type: string
          format: email
          description: User email address
        password:
          type: string
          format: password
          description: User password
      required:
        - email
        - password

    LoginResponse:
      type: object
      properties:
        token:
          type: string
          description: JWT access token
        expiresAt:
          type: string
          format: date-time
          description: Token expiration time
        user:
          $ref: '#/components/schemas/User'
      required:
        - token
        - expiresAt
        - user

    TokenResponse:
      type: object
      properties:
        token:
          type: string
          description: JWT access token
        expiresAt:
          type: string
          format: date-time
          description: Token expiration time
      required:
        - token
        - expiresAt

    User:
      type: object
      properties:
        id:
          type: string
          description: User ID
        email:
          type: string
          format: email
          description: User email
        roles:
          type: array
          items:
            type: string
          description: User roles
      required:
        - id
        - email
        - roles

    # Category Schemas
    Category:
      type: object
      properties:
        id:
          type: integer
          format: int32
          description: Category ID
        name:
          type: string
          description: Category name
        description:
          type: string
          description: Category description
        isActive:
          type: boolean
          description: Whether the category is active
        createdAt:
          type: string
          format: date-time
          description: Creation timestamp
        updatedAt:
          type: string
          format: date-time
          description: Last update timestamp
      required:
        - id
        - name
        - isActive
        - createdAt
        - updatedAt

    CreateCategoryRequest:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 100
          description: Category name
        description:
          type: string
          maxLength: 500
          description: Category description
      required:
        - name

    UpdateCategoryRequest:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 100
          description: Category name
        description:
          type: string
          maxLength: 500
          description: Category description
        isActive:
          type: boolean
          description: Whether the category is active

    # Product Schemas
    Product:
      type: object
      properties:
        id:
          type: integer
          format: int32
          description: Product ID
        name:
          type: string
          description: Product name
        description:
          type: string
          description: Product description
        sku:
          type: string
          description: Stock Keeping Unit
        price:
          type: number
          format: decimal
          description: Product price
        categoryId:
          type: integer
          format: int32
          description: Category ID
        category:
          $ref: '#/components/schemas/Category'
        inventory:
          $ref: '#/components/schemas/Inventory'
        isActive:
          type: boolean
          description: Whether the product is active
        createdAt:
          type: string
          format: date-time
          description: Creation timestamp
        updatedAt:
          type: string
          format: date-time
          description: Last update timestamp
      required:
        - id
        - name
        - sku
        - price
        - categoryId
        - isActive
        - createdAt
        - updatedAt

    CreateProductRequest:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 200
          description: Product name
        description:
          type: string
          maxLength: 1000
          description: Product description
        sku:
          type: string
          minLength: 1
          maxLength: 50
          description: Stock Keeping Unit
        price:
          type: number
          format: decimal
          minimum: 0
          description: Product price
        categoryId:
          type: integer
          format: int32
          description: Category ID
        inventory:
          $ref: '#/components/schemas/CreateInventoryRequest'
      required:
        - name
        - sku
        - price
        - categoryId

    UpdateProductRequest:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 200
          description: Product name
        description:
          type: string
          maxLength: 1000
          description: Product description
        sku:
          type: string
          minLength: 1
          maxLength: 50
          description: Stock Keeping Unit
        price:
          type: number
          format: decimal
          minimum: 0
          description: Product price
        categoryId:
          type: integer
          format: int32
          description: Category ID
        inventory:
          $ref: '#/components/schemas/UpdateInventoryRequest'
        isActive:
          type: boolean
          description: Whether the product is active

    # Inventory Schemas
    Inventory:
      type: object
      properties:
        productId:
          type: integer
          format: int32
          description: Product ID
        currentStock:
          type: integer
          format: int32
          description: Current stock level
        reorderPoint:
          type: integer
          format: int32
          description: Reorder point threshold
        maxStockLevel:
          type: integer
          format: int32
          description: Maximum stock level
        isInStock:
          type: boolean
          description: Whether the product is in stock
        lastUpdated:
          type: string
          format: date-time
          description: Last inventory update
      required:
        - productId
        - currentStock
        - reorderPoint
        - maxStockLevel
        - isInStock
        - lastUpdated

    CreateInventoryRequest:
      type: object
      properties:
        currentStock:
          type: integer
          format: int32
          minimum: 0
          description: Initial stock level
        reorderPoint:
          type: integer
          format: int32
          minimum: 0
          description: Reorder point threshold
        maxStockLevel:
          type: integer
          format: int32
          minimum: 0
          description: Maximum stock level
      required:
        - currentStock
        - reorderPoint
        - maxStockLevel

    UpdateInventoryRequest:
      type: object
      properties:
        currentStock:
          type: integer
          format: int32
          minimum: 0
          description: Current stock level
        reorderPoint:
          type: integer
          format: int32
          minimum: 0
          description: Reorder point threshold
        maxStockLevel:
          type: integer
          format: int32
          minimum: 0
          description: Maximum stock level

    # Inventory Movement Schemas
    InventoryMovement:
      type: object
      properties:
        id:
          type: integer
          format: int32
          description: Movement ID
        productId:
          type: integer
          format: int32
          description: Product ID
        product:
          $ref: '#/components/schemas/Product'
        movementType:
          type: string
          enum: [Purchase, Sale, Adjustment, Return, Transfer, Waste]
          description: Type of inventory movement
        quantity:
          type: integer
          format: int32
          description: Quantity moved (positive for increase, negative for decrease)
        notes:
          type: string
          description: Movement notes
        reference:
          type: string
          description: External reference (PO, order number, etc.)
        userId:
          type: string
          description: User who recorded the movement
        createdAt:
          type: string
          format: date-time
          description: Movement timestamp
      required:
        - id
        - productId
        - movementType
        - quantity
        - createdAt

    CreateInventoryMovementRequest:
      type: object
      properties:
        productId:
          type: integer
          format: int32
          description: Product ID
        movementType:
          type: string
          enum: [Purchase, Sale, Adjustment, Return, Transfer, Waste]
          description: Type of inventory movement
        quantity:
          type: integer
          format: int32
          description: Quantity moved (positive for increase, negative for decrease)
        notes:
          type: string
          maxLength: 500
          description: Movement notes
        reference:
          type: string
          maxLength: 100
          description: External reference (PO, order number, etc.)
      required:
        - productId
        - movementType
        - quantity

    # Analytics Schemas
    CategoryStatistics:
      type: object
      properties:
        categoryId:
          type: integer
          format: int32
          description: Category ID
        categoryName:
          type: string
          description: Category name
        productCount:
          type: integer
          format: int32
          description: Total number of products
        activeProductCount:
          type: integer
          format: int32
          description: Number of active products
        totalInventoryValue:
          type: number
          format: decimal
          description: Total inventory value
        averageProductPrice:
          type: number
          format: decimal
          description: Average product price
        lowStockProductCount:
          type: integer
          format: int32
          description: Number of products with low stock
        outOfStockProductCount:
          type: integer
          format: int32
          description: Number of out-of-stock products
        lastUpdated:
          type: string
          format: date-time
          description: Last update timestamp
      required:
        - categoryId
        - categoryName
        - productCount
        - activeProductCount
        - totalInventoryValue
        - averageProductPrice
        - lowStockProductCount
        - outOfStockProductCount
        - lastUpdated

    LowStockCategory:
      type: object
      properties:
        categoryId:
          type: integer
          format: int32
          description: Category ID
        categoryName:
          type: string
          description: Category name
        lowStockProductCount:
          type: integer
          format: int32
          description: Number of products with low stock
        totalProductCount:
          type: integer
          format: int32
          description: Total number of products in category
        lowStockPercentage:
          type: number
          format: decimal
          description: Percentage of products with low stock
      required:
        - categoryId
        - categoryName
        - lowStockProductCount
        - totalProductCount
        - lowStockPercentage

    TopCategory:
      type: object
      properties:
        categoryId:
          type: integer
          format: int32
          description: Category ID
        categoryName:
          type: string
          description: Category name
        productCount:
          type: integer
          format: int32
          description: Number of products
        rank:
          type: integer
          format: int32
          description: Ranking position
      required:
        - categoryId
        - categoryName
        - productCount
        - rank

    BulkUpdateCategoryStatusRequest:
      type: object
      properties:
        categoryIds:
          type: array
          items:
            type: integer
            format: int32
          description: List of category IDs to update
        isActive:
          type: boolean
          description: New active status
      required:
        - categoryIds
        - isActive

    BulkUpdateResult:
      type: object
      properties:
        updatedCount:
          type: integer
          format: int32
          description: Number of categories updated
        failedCount:
          type: integer
          format: int32
          description: Number of updates that failed
        errors:
          type: array
          items:
            type: string
          description: List of error messages for failed updates
      required:
        - updatedCount
        - failedCount

    # Inventory Summary Schemas
    InventorySummary:
      type: object
      properties:
        totalProducts:
          type: integer
          format: int32
          description: Total number of products
        totalValue:
          type: number
          format: decimal
          description: Total inventory value
        lowStockItems:
          type: integer
          format: int32
          description: Number of items with low stock
        outOfStockItems:
          type: integer
          format: int32
          description: Number of out-of-stock items
        categories:
          type: array
          items:
            $ref: '#/components/schemas/CategoryInventorySummary'
          description: Summary by category
      required:
        - totalProducts
        - totalValue
        - lowStockItems
        - outOfStockItems
        - categories

    CategoryInventorySummary:
      type: object
      properties:
        categoryId:
          type: integer
          format: int32
          description: Category ID
        categoryName:
          type: string
          description: Category name
        productCount:
          type: integer
          format: int32
          description: Number of products
        totalValue:
          type: number
          format: decimal
          description: Total value
        lowStockCount:
          type: integer
          format: int32
          description: Number of low stock items
      required:
        - categoryId
        - categoryName
        - productCount
        - totalValue
        - lowStockCount

    StockAlert:
      type: object
      properties:
        productId:
          type: integer
          format: int32
          description: Product ID
        productName:
          type: string
          description: Product name
        sku:
          type: string
          description: Stock Keeping Unit
        currentStock:
          type: integer
          format: int32
          description: Current stock level
        reorderPoint:
          type: integer
          format: int32
          description: Reorder point threshold
        maxStockLevel:
          type: integer
          format: int32
          description: Maximum stock level
        alertLevel:
          type: string
          enum: [low, out, overstocked]
          description: Alert level
        daysUntilStockout:
          type: integer
          format: int32
          description: Estimated days until stockout (for low stock items)
      required:
        - productId
        - productName
        - sku
        - currentStock
        - reorderPoint
        - maxStockLevel
        - alertLevel

    # Health Check Schemas
    HealthCheckResponse:
      type: object
      properties:
        status:
          type: string
          enum: [Healthy, Degraded, Unhealthy]
          description: Overall health status
        timestamp:
          type: string
          format: date-time
          description: Health check timestamp
      required:
        - status
        - timestamp

    DetailedHealthCheckResponse:
      type: object
      properties:
        status:
          type: string
          enum: [Healthy, Degraded, Unhealthy]
          description: Overall health status
        timestamp:
          type: string
          format: date-time
          description: Health check timestamp
        checks:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/HealthCheckDetail'
          description: Individual health check results
        duration:
          type: string
          description: Total check duration
      required:
        - status
        - timestamp
        - checks
        - duration

    HealthCheckDetail:
      type: object
      properties:
        status:
          type: string
          enum: [Healthy, Degraded, Unhealthy]
          description: Individual check status
        description:
          type: string
          description: Check description
        data:
          type: object
          additionalProperties: true
          description: Additional check data
        duration:
          type: string
          description: Check duration
      required:
        - status